SPOTIFY_CLIENT_ID=your_client_id
SPOTIFY_CLIENT_SECRET=your_client_secret
SPOTIFY_REDIRECT_URI=http://YOUR_PI_IP:8080/spotify/callback
SPOTIFY_DEVICE_NAME=Pinyl
FLASK_SECRET_KEY=change-me
PORT=8080
NFC_POLL_INTERVAL=0.4
NFC_DEBOUNCE_SECONDS=5
